.promotion {
    background-color: rgba(255, 170, 0, 0.404);
   
    position: relative;

    &::after{
        content: '';
        display: block;
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-image: url(./../img/promotion/promotion-bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;

        @include mediaBg {
            background-image: url(./../img/promotion/promotion-bg@2x.jpg);
        }

        @include mobile{
            position: static;
            height: 367px;
            width: 100%;
        }
    }
}

.promotion__container{
    padding-left: calc(
        (100% - var(--container-width)) / 2 + (var(--container-width) / 2)
    );

    padding-right: calc(
        (100% - var(--container-width)) / 2 
    );

    @include tablet{
        padding-right:var(--container-padding);
    }

    @include mobile{
        padding-right:var(--container-padding);
        padding-left:var(--container-padding);
    }
}

.promotion__content {
    display: grid;
    gap: 24px;
    
    padding: 100px 0;
    padding-left: 72px;

    @include tablet{
        padding: 50px 0;
        padding-left: 32px;
        padding-right:var(--container-padding)
    }

    @include mobile {
        padding: 28px 0;   
    }
}

.promotion__desc {
    display: grid;
    gap: 16px;
}

.promotion__tagline {
    color: #377DFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    text-transform: uppercase;
}

.promotion__title {
    color: #121212;
    letter-spacing: -0.4px;
    line-height: 1.1;
    font-weight: 500;
    font-size: 40px;
    font-family: var(--font-accent);
}

.promotion__text{
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #121212;

    @include mobile {
        font-size: 14px;   
    }
}

.promotion__timer {
    display: grid;
    gap: 12px;
}

.promotion__expires {
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    color: #141718;
}


.promotion__btn {
}
